node_modules
.env

# Hardhat files
/cache
/artifacts
/tokens/lro-token/drops/**
/tokens/groundfloor-note-token/drops/**

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.DS_Store
