{
  "description": "GroundfloorNoteToken - Series {{series}} - {{rate}} - {{length}} Day Note.", 
  "external_url": "https://crypto.groundfloor.us/t/{{tokenName}}", 
  "name": "GroundfloorNoteToken - {{tokenName}}",
  "attributes": [ 
    {
      "trait_type": "Term", 
      "value": "{{length}} Days"
    },
    {
      "display_type": "boost_percentage",
      "trait_type": "Rate", 
      "value": {{rate}}
    },
    {
      "display_type": "date",
      "trait_type": "Maturity Date", 
      "value": {{maturityDate}}
    },
    {
      "display_type": "number", 
      "trait_type": "Token Id", 
      "value": {{tokenId}}
    }
  ]
}
