{
  "name": "{{tokenName}}",
  "description": "Redemption token for a Groundfloor LRO.  The owner of this token may register it with Groundfloor in order to receive the benefits from the underlying investment.", 
  "external_url": "https://crypto.groundfloor.com/nft", 
  "asset_url": "{{assetUrl}}", 
  "offering_circular_url": "{{offeringCircular}}", 
  "image": "{{imageUrl}}", 
  "attributes": [ 
    {
      "trait_type": "Address", 
      "value": "{{address}}"
    },
    {
      "trait_type": "Investment Amount", 
      "value": "{{amountUSD}}"
    },
    {
      "trait_type": "Expected Return", 
      "value": "{{returnUSD}}"
    },
    {
      "trait_type": "Total Loan Amount", 
      "value": "{{loanAmountUSD}}"
    },
    {
      "trait_type": "Investment Date", 
      "value": "{{investmentDate}}"
    },
    {
      "trait_type": "Maturity Date", 
      "value": "{{maturityDate}}"
    },
    {
      "trait_type": "Loan Term", 
      "value": "{{term}}"
    },
    {
      "trait_type": "Purpose", 
      "value": "{{purpose}}"
    },
    {
      "trait_type": "Rate", 
      "value": "{{rate}}"
    },
    {
      "trait_type": "Loan To ARV%", 
      "value": "{{ltarv}}"
    },
    {
      "trait_type": "Security Position", 
      "value": "{{securityPosition}}"
    },
    {
      "trait_type": "DNA", 
      "value": "{{dna}}"
    },
    {
      "trait_type": "SecureId", 
      "value": "{{uuid}}"
    },
    {
      "display_type": "number", 
      "trait_type": "Token Id", 
      "value": {{tokenId}}
    }
  ]
}
